@model IEnumerable<FirmaAnket.Models.QuestionDTO>
@{
    /**/


    Layout = "~/Views/Shared/_Layout.cshtml";
    int number = 1;
    int gomines = 0;
}



<div class="card">
    <div class="card-body">
        <div class="card-title text-center">Anket Cevaplama Sayfası</div>
        <hr>
        @using (Html.BeginForm("Create", "Answer"))
        {
        <form>
            <div class="form-group">
                @Html.DropDownList("Code", (SelectList)ViewBag.Person, "Lütfen Kişi Seçiniz", new { @class = "form-control" })
            </div>

            @foreach (var item in Model)
            {
                <input name="@item.Question" id="Question_@item.ID" value="@item.Question" type="hidden" />

                <span style="font-weight:bold">@number)</span>
                @item.Question
                <br /><br />


                <div class="icheck-metarial-primary icheck-inline">
                    <input type="radio" id="id_@item.ID" name="Answer_@item.ID" class="radio_@item.ID" value="@FirmaAnket.WebUI.Constants.AnswerType.Yes">
                    <label for="id_@item.ID">@FirmaAnket.WebUI.Constants.AnswerType.Yes</label>

                    <input type="radio" id="id_@gomines" name="Answer_@item.ID" class="radio_@item.ID" value="@FirmaAnket.WebUI.Constants.AnswerType.No">
                    <label for="id_@gomines">@FirmaAnket.WebUI.Constants.AnswerType.No</label>
                </div>


              

                <script>
                        $(document).ready(function () {
                            $('.radio_@item.ID').click(function () {

                        var formdata = new FormData();
                        var code = $('#Code').val();
                                formdata.set("Code", code);

                        var namesurname = $('#Code :selected').text();
                                formdata.set("NameSurname", namesurname);

                        var quesition = $('#Question_@item.ID').val();
                        formdata.set("Question", quesition);
                        var answer = $('input[name="Answer_@item.ID"]:checked').val();
                        formdata.set("Answer", answer);
                        if (code == '') {
                            $('#warningMessage').modal('show');
                            return;
                        }
                                $.ajax({
                                    url: "/Answer/SendData",
                                    data: formdata,
                                    type: "POST",
                                    cache: false,
                                    contentType: false,
                                    processData: false,
                                    successs: function (data) {
                                        if (data == "True") {
                                        }
                                    },
                                    error: function (data) {
                                        alert("Ekleme işlemi sırasında bir hata meydana geldi!");
                                    }
                                });
                            });
                        });
                </script>

                gomines--;
                number++;
            }




            <div class="form-group">
                <button type="submit" class="btn btn-success shadow-success px-5"><i class="icon-lock"></i> Kaydet</button>
            </div>
        </form>
        }


    </div>
</div>

<div class="modal fade show" id="warningMessage">
    <div class="modal-dialog">
        <div class="modal-content border-warning">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-white"><i class="fa fa-star"></i>Uyarı</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lütfen Kişi</p><p><b>Seçiniz</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-inverse-primary" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
               
            </div>
        </div>
    </div>
</div>

